main {
  width: 100%;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-gap: 0px;
}

app-square {
  border: 1px gray solid;
  height: 30vw;
}

@media only screen and (min-width: 768px) {

  main {
    width: 600px;
    grid-template-columns: 200px 200px 200px;
  }

  app-square {
    height: 200px;
  }

}


